    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color: white;
}
.flex
{
    display: flex;
    align-items: center;
}
ul
{
    list-style-type: none;
}
h1{
        font-family: 'Roboto', sans-serif;
    font-size: 7rem;
    font-weight: 800;
    font-style: italic;
}
h4{
        font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}
a{
    text-decoration: none;
    color: white;
}
.Primary-Button
{
    width: 180px;
    height: 40px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    color: var(--primary-text-color);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
        font-family: 'Poppins', sans-serif;
}


main
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.512);
}


.navbar{
    justify-content: space-between;
    color: var(--primary-text-color);
}
.nav-list
{
    gap:30px ;
}

header {
    height: 80vh;
    background-color:slategray ;

}
.slides
{
    margin: auto;
    padding-top: 200px;
        flex-direction: column;
        width:60%;
    height: 100%;
    text-align: justify;
    background-color: cornflowerblue;
}
.slide-title
{
    color: var(--primary-text-color);
}
.slide-subtitle
{
    
    width: 950px;
    color: var(--primary-text-color);

}
.slide-button
{
margin-top: 30px;
}



    .row {
        width: 100%;
        height: 480px;
        color: aliceblue;
        display: flex;
    }

    .main_box {
        width: 25%;
        height: 380px;
        position: relative;
        transition: all 0.5s;
        overflow: hidden;
    }

    .bg1 {
        background: rgba(0, 0, 0, 0.612) url(images/Gympeople_1.jpg);
        /* background-blend-mode: darken; */
        background-size: cover;
    }

    .bg2 {
        background: rgba(0, 0, 0, 0.612) url(images/gympeople_2.jpg);
        /* background-blend-mode: darken; */
        background-size: cover;
    }

    .bg3 {
        background: rgba(0, 0, 0, 0.612) url(images/gympeople_3.jpg);
        /* background-blend-mode: darken; */
        background-size: cover;
    }

    .bg4 {
        background: rgba(0, 0, 0, 0.612) url(images/gympeople_4.jpg);
        /* background-blend-mode: darken; */
        background-size: cover;
    }

    .down_box {
        position: absolute;
        top: 80%;
        width: 100%;
        text-align: center;
        transition: all 0.5s;
    }

    .down_box h2 {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px 0;
    }

    .button_secondary {
        margin: 30px auto;
    }

    .button_secondary a {
        background-color: red;
        text-decoration: none;
        color: white;
        font-size: 12px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px 20px;
        border-radius: 10px;
        transition: all 0.5s;
    }

    .main_box:hover .down_box {
        top: 60%;
        color: rgb(255, 230, 0);
    }

    .main_box:hover {
        background-blend-mode: darken;
    }

    .main_box:hover .button_secondary a {
        padding: 15px 80px;
        font-size: 18px;
    }

    .button_secondary a:hover {
        color: black;
        background-color: rgb(255, 230, 0);
    }





.About-coach {
        width: 1160px;
        min-height: auto;
        margin: auto;
        background-color: white;
        padding: 50px 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .About-coach h2 {
        font-size: 38px;
        margin: 50px 0;
    }

    .coach-title {
        font-size: 22px;
        color: rgb(39, 38, 38);
        text-align: center;
    }

    .About-coach ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .About-coach ul li {
        list-style: none;
        width: 25%;
        height: auto;
        padding: 10px;
        background-color: rgb(159, 219, 235);
    }

    .member {
        width: 100%;
        height: auto;
        background-color: cadetblue;
        position: relative;
    }

    .About-coach ul li .member img {
        width: 270px;
        height: 270px;
        position: relative;
        margin-bottom: 20px;
    }

    .coach-subtitle {
        color: rgb(86, 86, 86);
        font-size: 15px;
        margin: 20px 0;
        position: relative;
        text-align: center;
    }

    .coach-contect {
        width: 180px;
        position: absolute;
        top: 75%;
        left: 17%;
        background-color: coral;
    }

    .coach-contect ul {
        display: flex;

    }

    .coach-contect ul li {
        list-style: none;
        width: 50px;
        height: 50px;
        line-height: 33px;
        border-radius: 50%;
        text-align: center;
        transition: 0.5s;
        background-color: gray;
        /* display: block; */
    }

    .coach-contect ul li a {
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
    }

    .member:hover .coach-contect ul li:nth-child(1) {
        display: block;
        transition-delay: 0.1s;
        transform: translateY(-100px);
    }

    .member:hover .coach-contect ul li:nth-child(2) {
        display: block;
        transition-delay: 0.3s;
        transform: translateY(-100px);
    }

    .member:hover .coach-contect ul li:nth-child(3) {
        display: block;
        transition-delay: 0.5s;
        transform: translateY(-100px);
    }

.view-all
{
    width: 210px;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: auto;
    margin-top: 70px;
}
.view-all:hover {
    background-color: yellow;
    border: none;

}
.view-all:hover a
{
color: black;
    
   
}
.testinomials {
        height: 680px;
        background:rgba(0, 0, 0, 0.612)  url(images/gym_bg.jpg);
        background-blend-mode: darken;
        background-attachment: fixed;
    }

    .testi-content {
        width: 800px;
        margin: auto;
        padding: 70px 0;
        text-align: center;
    }

    .testi-title {
        color: whitesmoke;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .testi-hr {
        margin-top: 20px;
        background-color: white;
    }

    .testi-inverted {
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
    }

    .testi-subtitle {

        width: 800px;
        color: white;
        text-align: center;
        margin-top: 50px;
    }

    .testi-info {
        width: 200px;
        height: 200px;

        margin: auto;
        margin-top: 30px;

    }

    .testi-logo {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-image: url(images/trstimonial_person.jpg);
        margin: auto;

    }

    .testi-name {
        margin-top: 20px;
        font-size: 15px;
        font-weight: 600;
        color: white;
        text-align: center;
    }

    .testi-surname {
        font-size: 15px;
        color: white;
        text-align: center;
    }

    .testi-leftright {
        gap: 10px;
        justify-content: center;
    }

    .testi-left {
        width: 20px;
        height: 20px;
        color: white;
        line-height: 20px;
        text-align: center;
        border: 1px solid white;
    }

    .testi-left:hover {
        background-color: black;
        border: none;
        transform: scalex(1.2)scaleY(1.2);
    }

    .testi-right {
        width: 20px;
        height: 20px;
        color: white;
        line-height: 20px;
        text-align: center;
        border: 1px solid white;
    }

    .testi-right:hover {
        background-color: black;
        border: none;
        transform: scalex(1.2)scaleY(1.2);
    }

.ad
{
    width: 100%;
    background-image: linear-gradient(to right, red, yellow);
}
.ad img{
    width: 100%;
}
